
<!-- <div class="panel"> -->
  <div class="meetup row" id="<%= meetup.id %>" data-equalizer>



      <div class="small-5 columns lefty text-center" data-equalizer>
        <p> <%= meetup.title %> </p>
        <p>Hosted by: <%= meetup.user.email %> </p>
        <p>At: <%= meetup.datetime %> </p>
        <div class="joinLink">
          <% if meetup.user == current_user %>
            <%= button_to "Delete Meetup", meetup_path(meetup), method: :delete %>
          <% else %>
            <% if Attendee.find_by(meetup_id:meetup.id, user_id:current_user).nil? %>
              <%=button_to "Join Meetup!", meetup_attendees_path(meetup), method: :post %>
            <% else %>
            <%= button_to "Leave Meetup", meetup_attendee_path(meetup.id, meetup), method: :delete %>
            <% end %>
          <% end %>

        </div>
      </div>

      <div class="small-6 columns righty text-center desc" data-equalizer>
        <%= meetup.description %>
        <hr>
        <span>People attending this meetup:</span><br>
        <ul>
          <% meetup.attendees.each do |attendee| %>
            <li><%= attendee.user.email %></li>
          <% end %>
      </div>



  </div>
<!-- </div> -->
