<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, height=device-height,
        maximum-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <% if current_user %>
    <%= javascript_include_tag "signedIn/addComment" %>
    <%= javascript_include_tag "signedIn/deleteComment" %>
  <% end %>
  <%= csrf_meta_tag %>
  <% if flash[:errors] == "You need to sign in to do that!" %>
    <script>
      window.onload = function(){
        $("#f2").zoomTo();
        $("#f2").children(".thaCover").hide()
      }
    </script>

  <% end %>
</head>
<body data-no-turbolink="true">
  <title>LunchAcademy</title>
  <%- unless flash[:errors] == "You need to sign in to do that!" -%>
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
  <%- end -%>

    <div id="cubeContainer">
      <div id="cube">
        <div class="face" id="f1">
          <div class="thaCover" id="f1Cover" class="text-center">
            <h3 class="text-center">Create</h3>
          </div>
          <div id="text-center">

          <%= form_for :new, url: meetups_path  do |f| %>
            <%= f.text_field :title, placeholder:"Title", class: "cubeInput" %>
            <%= f.text_area :description, placeholder:"Description",
                class: "cubeInput" %>
            <%= f.text_field :datetime, placeholder:"Time",
                class: "cubeInput" %>
                <%= f.text_field :address, placeholder: "Add a location",
                    autocomplete: "off", class: "cubeInput" %>
            <%= f.submit class:"button tiny cubeButton" %>
          <% end %>
        </div>
        </div>
		    <div class="face" id="f2">
          <div class="thaCover text-center" id="f2Cover">
            <h3 class="text-center">User</h3>
          </div>
          <div id="f2Container">
          <div class="text-center"><%= link_to "Home", meetups_path%></div>
          <% if current_user %>
            <div class="text-center">
              <h5><%= current_user.email %></h5>
              <%= link_to "Sign Out", destroy_user_session_path,
                  method: :delete, class: "signOutButton", class: "f2Link" %><br>
              <%= link_to "Edit Account", edit_user_registration_path,
                  class: "f2Link" %>
            </div>
          <% else %>
          <%= render partial: "devise/sessions/new" %>
          <% if flash[:errors] == "You need to sign in to do that!" %>
            <div class="signInFlash text-center"> <%= flash[:errors] %> </div>
          <% end %>
          <% end %>
        </div>
	      </div>
		    <div class="face" id="f3">
          <div class="thaCover text-center" id="f3Cover">
            <h3 class="text-center">Search</h3>
          </div>
          <label for="search"><h5>Search</h5></label>
          <%= form_tag(meetups_path, :method => "get", class: "cubeInput") do %>
            <%= text_field_tag :search, params[:search],
                placeholder: "Find a meetup...", class: "cubeInput" %>
            <%= submit_tag "Search", class: "button tiny cubeButton" %>
          <% end %>
        </div>
	    </div>
		</div>




<div class="container">
  <%= yield %>
</div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
