<!DOCTYPE html>
<html>
<head>
  <title>LunchAcademy</title>
  <meta name="viewport" content="width=device-width, height=device-height, maximum-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>


    <div id="cubeContainer">
      <div id="cube">
        <div class="face" id="f1">
          <%= form_for :new, url: meetups_path  do |f| %>
            <%= f.text_field :title, placeholder:"Meetup Title" %>
            <%= f.text_area :description, placeholder:"Description"  %>
            <%= f.text_field :datetime, placeholder:"Time" %>
            <%= f.submit %>
          <% end %>
        </div>
		    <div class="face" id="f2">
          <% if current_user %>
            <%= render partial: "devise/sessions/current" %>
          <% else %>
          <%= render partial: "devise/sessions/new" %>
          <% end %>
	      </div>
		    <div class="face" id="f3">
          <label for="search"><h5>Search</h5></label>
          <input type="text" name="search"></input>
          <input type="submit"></input>
        </div>
	    </div>
		</div>

    <div class="text-center"><%= link_to "Home", meetups_path%></div>
    <div class="text-center"><%= link_to 'Sign Out', destroy_user_session_path,
                                 method: :delete %></div>


<div class="container">
  <%= yield %>
</div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
